.App {
box-sizing: border-box;

}

.Header{
  display: flex;
  justify-content:center;
}

.search-bar{
  display: flex;
  justify-content: center;
  
}


.book-shelf{
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  width: 70%;
}

#bookz{
  display: flex;
  height: 70%;
  width: 70%;
}

.bookz-n-shelf{
  display: flex;
  
}